<div class="header__search">
  <form action="/" method="post">
    <input
      class="search"
      type="search"
      name="search"
      placeholder="search for news"
    />
    <input class="submit" type="submit" value="Search" />
  </form>
</div>
